<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<!--General stuff-->
		<add key="ShowHitMarkers" value="true" />
		<add key="ScreenResolution" value="1360x786" />
		<add key="BackgroundOpacity" value="5" />
		<add key="OsuStableFolderPath" value=""/>
		<add key="OsuLazerFolderPath" value=""/>
		<add key="OsuClient" value="osu!"/>
		<add key="MusicVolume" value="35"/>
		<add key="Show100OnTimeline" value="false" />
		<add key="Show50OnTimeline" value="false" />
		<add key="ShowMissOnTimeline" value="true" />
		<!--General stuff-->
		
		<!--Keybindings-->
		<add key="Open Menu" value="Escape"/>
		<add key="Pause" value="Space"/>
		<add key="Jump 1 Frame to Left" value="OemComma"/>
		<add key="Jump 1 Frame to Right" value="OemPeriod"/>
		<add key="Jump to closest past miss" value="Left"/>
		<add key="Jump to closest future miss" value="Right"/>
		<add key="Rate Change -0.25x" value="Down"/>
		<add key="Rate Change +0.25x" value="Up"/>
		<!--Keybindings-->
	</appSettings>
</configuration>
