<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="ShowHitMarkers" value="true" />
		<add key="ScreenResolution" value="1360x786" />
		<add key="BackgroundOpacity" value="5" />
		<add key="OsuStableFolderPath" value=""/>
		<add key="OsuLazerFolderPath" value=""/>
		<add key="OsuClient" value="osu!"/>
	</appSettings>
</configuration>
